
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>神田拓実のホームページ</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords" content="free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />

	<!--
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE
	DESIGNED & DEVELOPED by FreeHTML5.co

	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
-->

<!-- Facebook and Twitter integration -->
<meta property="og:title" content=""/>
<meta property="og:image" content=""/>
<meta property="og:url" content=""/>
<meta property="og:site_name" content=""/>
<meta property="og:description" content=""/>
<meta name="twitter:title" content="" />
<meta name="twitter:image" content="" />
<meta name="twitter:url" content="" />
<meta name="twitter:card" content="" />

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<link rel="shortcut icon" href="favicon.ico">

<!-- <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'> -->

<!-- Animate.css -->
<link rel="stylesheet" href="css/animate.css">
<!-- Icomoon Icon Fonts-->
<link rel="stylesheet" href="css/icomoon.css">
<!-- Bootstrap  -->
<link rel="stylesheet" href="css/bootstrap.css">
<!-- Theme style  -->
<link rel="stylesheet" href="css/style.css">

<link rel="stylesheet" href="css/table.css">

<!-- Modernizr JS -->
<script src="js/modernizr-2.6.2.min.js"></script>
<!-- FOR IE9 below -->
<!--[if lt IE 9]>
<script src="js/respond.min.js"></script>
<![endif]-->

</head>
<body style="background-image: url(images/bg_img.jpg);">

	<div id="fh5co-main">
		<div class="fh5co-tab-wrap">
			<ul class="fh5co-tab-menu">
				<li class="active"><a href="#" data-tab="1"><span class="icon icon-glass"></span><span class="menu-text">Profile</span></a></li>
				<li><a href="#" data-tab="2"><span class="icon icon-graduation-cap"></span><span class="menu-text">Education</span></a></li>
				<li><a href="#" data-tab="3"><span class="icon icon-black-tie"></span><span class="menu-text">Experience</span></a></li>
				<li><a href="#" data-tab="4" data-pie="yes"><span class="icon icon-fighter-jet"></span><span class="menu-text">TimeTable</span></a></li>
			</ul>
			<div class="fh5co-tab-content active" data-content="1">
				<div class="fh5co-content-inner text-center">
					<div class="row row-bottom-padded-sm">
						<div class="col-md-12">
							<figure>

							</figure>
							<h1>神田拓実</h1>
							<p><a href="#">神奈川県</a>生まれ、<a href="#">埼玉県</a>育ち。５歳のころに今の所沢市に引っ越しました。
								<br>趣味：ゲーム
								<br>好きな食べ物：すし
								<br>好きな科目：科学、情報
								<br>嫌いな科目：英語
								<br>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 fh5co-counter">
							<div class="fh5co-number fh5co-left">10</div>
							<div class="fh5co-text">
								<h3 class="border-bottom">歳のころからパソコンに興味を持ち始めました。</h3>
								<p>いまは青山学院大学で情報について学んでいます</p>
								<p>このページはシステム構築実習と情報テクノロジー実験の課題の一環として製作しました</p>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="fh5co-tab-content" data-content="2">
				<div class="fh5co-content-inner">
					<div class="row">
						<div class="col-md-12">
							<p></p>

							<div class="fh5co-feature">
								<div class="fh5co-icon">
									<i class="icon-graduation-cap"></i>
								</div>
								<div class="fh5co-text">
									<h2>2003-2009</h2>
									<p>所沢市立椿峰小学校</p>
								</div>
							</div>

							<div class="fh5co-feature">
								<div class="fh5co-icon">
									<i class="icon-graduation-cap"></i>
								</div>
								<div class="fh5co-text">
									<h2>2009-2012</h2>
									<p>西武学園文理中学校</p>
								</div>
							</div>

							<div class="fh5co-feature">
								<div class="fh5co-icon">
									<i class="icon-graduation-cap"></i>
								</div>
								<div class="fh5co-text">
									<h2>2012-2015</h2>
									<p>西武学園文理高等学校</p>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
			<div class="fh5co-tab-content" data-content="3">
				<div class="fh5co-content-inner">
					<div class="row">
						<div class="col-md-12">

							<p>持っている資格について</p>

							<div class="fh5co-feature">
								<div class="fh5co-icon">
									<i class="icon-black-tie"></i>
								</div>
								<div class="fh5co-text">
									<h2>1997-2017</h2>
									<h3>何も持ってない…</h3>
									<p></p>
								</div>
							</div>



						</div>

					</div>
				</div>
			</div>
			<div class="fh5co-tab-content" data-content="4">
				<div class="fh5co-content-inner">
					<div class="row">
						<div class="col-md-12">
							<p>2017年前期時間割表</p>
						</div>
						<table>
							<tr>
								<th class="t_top"><b>月</b></th>
								<th class="t_top"><b>火</b></th>
								<th class="t_top"><b>水</th>
									<th class="t_top"><b>木</th>
										<th class="t_top"><b>金</th>
										</tr>
										<tr>
											<td class="t_line01"><b>English Core</b></td>
											<td class="t_line01"><b>情報数学</b></td>
											<td class="t_line01">            </td>
											<td class="t_line01"><b>図形情報科学</b></td>
											<td class="t_line01"></td>

										</tr>　
										<tr>
											<td class="t_line01"><b>数理モデル解析法</b></td>
											<td class="t_line01"><b>計算機実習</b></td>
											<td class="t_line01"></td>
											<td class="t_line01"><b>確率統計</b></td>
											<td class="t_line01"><b>ソフトウェア設計</b></td>

										</tr>
										<tr>
											<td class="t_line01"><b>現代社会の諸問題</b></td>
											<td class="t_line01"><b>オペレーションズ<br>リサーチ</b></td>
											<td class="t_line01"><b>English Core</b></td>
											<td class="t_line01"><b>ロボット工学</b></td>
											<td class="t_line01"></td>

										</tr>
										<tr>
											<td class="t_line01"></td>
											<td class="t_line01"><b>情報スキル</b></td>
											<td class="t_line01"></td>
											<td class="t_line01"><b>計算機実習</b></td>
											<td class="t_line01"><b>システム構築設計</b></td>

										</tr>
										<tr>
											<td class="t_line01"></td>
											<td class="t_line01"></td>
											<td class="t_line01"></td>
											<td class="t_line01"><b>計算機実習</b></td>
											<td class="t_line01"><b>システム構築設計</b></td>

										</tr>

									</table>

								</div>
							</div>
						</div>
					</div>
					<footer id="fh5co-footer">
						<div class="row">
							<div class="col-md-6 col-md-offset-3 text-center">
								<small>
									&copy; 2016 Personal Free HTML5 Template. All Rights Reserved. <span class="fh5co-author">
										Designed by <a href="http://freehtml5.co" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.com/" target="_blank">Unsplash</a></span>
									</small>
								</div>
							</div>
						</footer>
					</div>

					<!-- jQuery -->
					<script src="js/jquery.min.js"></script>
					<!-- jQuery Easing -->
					<script src="js/jquery.easing.1.3.js"></script>
					<!-- Bootstrap -->
					<script src="js/bootstrap.min.js"></script>
					<!-- Waypoints -->
					<script src="js/jquery.waypoints.min.js"></script>
					<!-- Easy PieChart -->
					<script src="js/jquery.easypiechart.min.js"></script>
					<!-- MAIN JS -->
					<script src="js/main.js"></script>

				</body>
				</html>
