<!DOCTYPE html>
<html>
	<head>
		<title>
			Palette
		</title>
		<!-- interface.css -->
		<link rel = "stylesheet" href = "css/interface.css">
		<!-- button.css -->
		<link rel = "stylesheet" href = "css/button.css">
		<!-- main.js -->
		<script type = "text/javascript" src = "javascript/main.js"></script>
	</head>
	<body>
		<div class = "container">
			<header class = "header">
				<img src = "image/logo.png" height = "190"/>
			</header>
			
			<div class = "content">
				<div id = "sideBar" class = "side">
					<ul style = "list-style:none;">
						<li>
							<a onclick = "changeBoxColor('#ff7f7f');" class = "btn_red"></a>
						</li>
						<li>
							<a onclick = "changeBoxColor('#ffbf7f');" class = "btn_ore"></a>
						</li>
						<li>
							<a onclick = "changeBoxColor('#FFFF00');" class = "btn_yel"></a>
						</li>
						<li>
							<a onclick = "changeBoxColor('#bfff7f');" class = "btn_gre"></a>
						</li>
						<li>
							<a onclick = "changeBoxColor('#7fbfff');" class = "btn_blu"></a>
						</li>
						<li>
							<a onclick = "changeBoxColor('#bf7fff');" class = "btn_pur"></a>
						</li>
					</ul>
				</div>
				<div class = "main">
					<div class = "grid">
						<img class = "module" src = "db/IMG_1726.jpg" />
						<img class = "module" src = "db/IMG_1733.jpg" />
						<img class = "module" src = "db/IMG_1748.jpg" />
						<img class = "module" src = "db/IMG_1726.jpg" />
						<img class = "module" src = "db/IMG_1733.jpg" />
						<img class = "module" src = "db/IMG_1748.jpg" />
						<img class = "module" src = "db/IMG_1726.jpg" />
						<img class = "module" src = "db/IMG_1733.jpg" />
						<img class = "module" src = "db/IMG_1748.jpg" />
						<img class = "module" src = "db/IMG_1726.jpg" />
						<img class = "module" src = "db/IMG_1733.jpg" />
						<img class = "module" src = "db/IMG_1748.jpg" />
					</div>
					<div>
						<a id = "Upload" class = "upload">Upload</a>
					</div>
				</div>
			</div>
			
			<footer class = "footer">
				logo designed by www.designevo.com
			</footer>
		</div>
	</body>
</html>
			