<!DOCTYPE html>
<html>
	<head>
		<title>
			Palette
		</title>
		<!-- interface.css -->
		<link rel = "stylesheet" href = "css/interface.css">
		<!-- button.css -->
		<link rel = "stylesheet" href = "css/button.css">
		<!-- main.js -->
		<script type = "text/javascript" src = "javascript/main.js"></script>
	</head>
	<body>
					<div class = "grid">
						<img class = "module" src = "db/IMG_1726.jpg" />
						<img class = "module" src = "db/IMG_1733.jpg" />
						<img class = "module" src = "db/IMG_1748.jpg" />
						<img class = "module" src = "db/IMG_1726.jpg" />
						<img class = "module" src = "db/IMG_1733.jpg" />
						<img class = "module" src = "db/IMG_1748.jpg" />
						<img class = "module" src = "db/IMG_1726.jpg" />
						<img class = "module" src = "db/IMG_1733.jpg" />
						<img class = "module" src = "db/IMG_1748.jpg" />
						<img class = "module" src = "db/IMG_1726.jpg" />
						<img class = "module" src = "db/IMG_1733.jpg" />
						<img class = "module" src = "db/IMG_1748.jpg" />
					</div>
	</body>
</html>
			