<!DOCTYPE html>
	<head>
		<title>Palette</title>
		<!-- interface.css -->
		<link rel = "stylesheet" href = "css/interface.css">
		<link rel = "stylesheet" href = "css/button.css">
	</head>
	<body>
		<div class = "container">
			<header class = "header">
				<img src = "image/logo.png" height = "180"/>
			</header>
			
			<div class = "content">
				<div class = "side">
					<ul style = "list-style:none;">
						<li>
							<a href = "#" class = "btn_red"></a>
						</li>
						<li>
							<a href = "#" class = "btn_ore"></a>
						</li>
						<li>
							<a href = "#" class = "btn_yel"></a>
						</li>
						<li>
							<a href = "#" class = "btn_gre"></a>
						</li>
						<li>
							<a href = "#" class = "btn_blu"></a>
						</li>
						<li>
							<a href = "#" class = "btn_pur"></a>
						</li>
					</ul>
				</div>
				<div class = "main">
					<div class = "upload">
						<a href = "#"></a>
					</div>
				</div>
			</div>
			
			<footer class = "footer">
				footer
			</footer>
		</div>
	</body>
</html>
			