{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>
			Palette
		</title>
		<!-- Normalize.css -->
		<link rel = "stylesheet" href = "{% static 'css/Normalize.css' %}">
		<!-- interface.css -->
		<link rel = "stylesheet" href = "{% static 'css/interface.css' %}">
		<!-- button.css -->
		<link rel = "stylesheet" href = "{% static 'css/button.css' %}">
		<!-- main.js -->
		<script type = "text/javascript" src = "{% static 'javascript/main.js' %}"></script>
	</head>
	<body>
		<div class = "container">
			<header class = "header">
				<img src = "{% static 'image/logo.png' %}" height = "190"/>
			</header>
			
			<div class = "content">
				<div id = "sideBar" class = "side">
					<form action="{% url 'post_list' %}" method="POST">
						<ul style = "list-style:none;">
							<li>
								{% csrf_token %}
								<button name = "red" onclick = "changeBoxColor('#ff7f7f');" type = "submit" class = "btn_red"></button>
							</li>
							<li>
								<button name = "ore" onclick = "changeBoxColor('#ffbf7f');" type = "submit" class = "btn_ore"></button>
							</li>
							<li>
								<button name = "yel" onclick = "changeBoxColor('#FFFF00');" type = "submit" class = "btn_yel"></button>
							</li>
							<li>
								<button name = "gre" onclick = "changeBoxColor('#bfff7f');" type = "submit" class = "btn_gre"></button>
							</li>
							<li>
								<button name = "blu" onclick = "changeBoxColor('#7fbfff');" type = "submit" class = "btn_blu"></button>
							</li>
							<li>
								<button name = "pur" onclick = "changeBoxColor('#bf7fff');" type = "submit" class = "btn_pur"></button>
							</li>
						</ul>
					</form>
				</div>
				<div class = "main">
					<div class = "grid">
						{% for p in photos %}
							<figure class = "module d{{ forloop.counter }}">
								<img src = "{{ p.image.url }}" />
							</figure>
						{% endfor %}
					</div>
					<div>
						<label for = "select" class = "select">
							<form action="{% url 'post_list' %}" id = "select" method="POST" enctype="multipart/form-data">
								{% csrf_token %}
								{{ form }}
								<button name = "upload" id = "Upload" class = "upload" type="submit">Upload</button> 
							</form>
						</label>
					</div>
				</div>
			</div>
			
			<footer class = "footer">
				logo designed by www.designevo.com
			</footer>
		</div>
	</body>
</html>
			