{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>
			Palette
		</title>
		<!-- Normalize.css -->
		<link rel = "stylesheet" href = "{% static 'css/Normalize.css' %}">
		<!-- interface.css -->
		<link rel = "stylesheet" href = "{% static 'css/interface.css' %}">
		<!-- button.css -->
		<link rel = "stylesheet" href = "{% static 'css/button.css' %}">
	</head>
	<body>
		<div class = "container">
			<header class = "header">
				<img src = "{% static 'image/logo.png' %}" class = "logo"/>
			</header>
			
			<div class = "content">
				<div id = "sideBar" class = "side">
					<form action="{% url 'post_list' %}" method="POST">
						<ul style = "list-style:none;">
							<li>
								{% csrf_token %}
								<button name = "red" class = "btn_red"></button>
							</li>
							<li>
								<button name = "ore" class = "btn_ore"></button>
							</li>
							<li>
								<button name = "yel" class = "btn_yel"></button>
							</li>
							<li>
								<button name = "gre" class = "btn_gre"></button>
							</li>
							<li>
								<button name = "blu" class = "btn_blu"></button>
							</li>
							<li>
								<button name = "pur" class = "btn_pur"></button>
							</li>
						</ul>
					</form>
				</div>
				<div class = "main">
					<div class = "grid">
						{% for p in photos %}
							<figure class = "module d{{ forloop.counter }}">
								<img src = "{{ p.image.url }}" />
							</figure>
						{% endfor %}
					</div>
					<div>
						<form action="{% url 'post_list' %}" id = "select" method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							<label for = "id_image" class = "select">
								{{ form }}
								<img src = "{% static 'image/file_icon.svg' %}" class = "sel_icon"></a>
							</label>
							<div class = "upload" style = "background:{{ color }};">
								<label class = "{{ up }}" for = "upload">
									Upload
								</label>
									<button id = "upload" name = "upload" class = "effect" type = "submit" style = "color:{{ color }};" />
							</div>
						</form>
					</div>
				</div>
			</div>
			
			<footer class = "footer">
				logo designed by www.designevo.com
			</footer>
		</div>
	</body>
</html>
			