*:focus {
    outline: none;
}

.btn_red, .btn_ore,
.btn_yel, .btn_gre,
.btn_blu, .btn_pur {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #FFF;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    transition: .4s;
}

.btn_red {
    right: 20px;
    top: -40px;
    background: #ff7f7f;
    box-shadow: 0px 0px 4px 3px #e56565 inset;
    border: solid 1px #e56565;
}

.btn_red:hover {
    background: #e56565;
    box-shadow: 0px 0px 4px 3px #cb4b4b inset;
    border: solid 1px #cb4b4b;
}

.btn_ore {
    right: 20px;
    top: -24px;
    background: #ffbf7f;
    box-shadow: 0px 0px 4px 3px #e5a565 inset;
    border: solid 1px #e5a565;
}

.btn_ore:hover {
    background: #e5a565;
    box-shadow: 0px 0px 4px 3px #cb8b4b inset;
    border: solid 1px #cb8b4b;
}

.btn_yel {
    right: 20px;
    top: -8px;
    background: #ffff7f;
    box-shadow: 0px 0px 4px 3px #e5e565 inset;
    border: solid 1px #e5e565;
}

.btn_yel:hover {
    background: #e5e565;
    box-shadow: 0px 0px 4px 3px #cbcb4b inset;
    border: solid 1px #cbcb4b;
}

.btn_gre {
    right: 20px;
    top: 8px;
    background: #bfff7f;
    box-shadow: 0px 0px 4px 3px #a5e565 inset;
    border: solid 1px #a5e565;
}

.btn_gre:hover {
    background: #a5e565;
    box-shadow: 0px 0px 4px 3px #8bcb4b inset;
    border: solid 1px #8bcb4b;
}

.btn_blu {
    right: 20px;
    top: 24px;
    background: #7fbfff;
    box-shadow: 0px 0px 4px 3px #65a5e5 inset;
    border: solid 1px #65a5e5;
}

.btn_blu:hover {
    background: #65a5e5;
    box-shadow: 0px 0px 4px 3px #4b8bcb inset;
    border: solid 1px #4b8bcb;
}

.btn_pur {
    right: 20px;
    top: 40px;
    background: #bf7fff;
    box-shadow: 0px 0px 4px 3px #a565e5 inset;
    border: solid 1px #a565e5;
}

.btn_pur:hover {
    background: #a565e5;
    box-shadow: 0px 0px 4px 3px #8b4bcb inset;
    border: solid 1px #8b4bcb;
}

.select {
    position: fixed;
    bottom: 40px;
    right: 150px;
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    border-style: none;
    color: #FFF;
    background: #ffff7f;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.select:active {
    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
    transform: translateY(2px);
}

.sel_icon {
    position: relative;
    top: 12px;
    right: 1px;
    height: 50%;
    width: 50%;
}

.upload {
    position: fixed;
    bottom: 30px;
    right: 50px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    border-style: none;
    overflow: hidden;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.upload:active {
    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
    transform: translateY(2px);
}

.upload label{
  font-size:16px;
  color:#FFF;
  text-decoration:none;
  line-height:80px;
  transition:all .5s ease;
  z-index:2;
  position:relative;
}

.effect{
    border-style: none;
    right: 0px;
    width:80px;
    height:80px;
    bottom:-140px;
    background:#FFF;
    position:absolute;
    transition:all .4s ease;
    z-index:1;
}

.upload:hover .effect{
    bottom:0;
}

.upload:hover .up_red{
    color:#ff7f7f;
}

.upload:hover .up_ore{
    color:#ffbf7f;
}

.upload:hover .up_yel{
    color:#ffff7f;
}

.upload:hover .up_gre{
    color:#bfff7f;
}

.upload:hover .up_blu{
    color:#7fbfff;
}

.upload:hover .up_pur{
    color:#bf7fff;
}